body {
    color: #46240cd6;
    background-color: #ddd4ca96;
}
header {
    color: #46240c;
    background-color: #ddd4ca;
}
.site-title {
    color: #46240ce0;
}
nav {
    background-color: #46240c36;
}
.nav-links a {
        color: #46240c;
        font-weight: bold;
    }

table {
    border: 2px solid #888888;
    border-collapse: collapse;
}
th, td {
    border: 3px solid #46240c;
}
.table-title {
    background-color: #bdafa2;
    color: #46240c;
    font-weight: bold;
}

.row1 {
    background-color: #ddd4ca;
}

.row2 {
    background-color: #F7F7F7;
}
footer {
    color: #f7f7f7;
    background-color: #46240cb3;
}

      